In [69]:
import sqlalchemy
import pymysql
import requests
import io
import pandas as pd
import yfinance as yf
pymysql.install_as_MySQLdb()

In [70]:
class ArkxEtfHoldings:
    def __init__(self, name):
        self.name = name
# Setp 1: Get the ARKx fund holdings CSV file from the ARK web site

    def Get_ARK_CSV(self):
        header = {
            'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9'
        }
        if self.name == 'ARKK':
            url = 'https://ark-funds.com/wp-content/fundsiteliterature/csv/ARK_INNOVATION_ETF_ARKK_HOLDINGS.csv'
        elif self.name == 'ARKF':
            url = 'https://ark-funds.com/wp-content/fundsiteliterature/csv/ARK_FINTECH_INNOVATION_ETF_ARKF_HOLDINGS.csv'
        elif self.name == 'ARKW':
            url = 'https://ark-funds.com/wp-content/fundsiteliterature/csv/ARK_NEXT_GENERATION_INTERNET_ETF_ARKW_HOLDINGS.csv'
        elif self.name == 'ARKQ':
            url = 'https://ark-funds.com/wp-content/fundsiteliterature/csv/ARK_AUTONOMOUS_TECHNOLOGY_&_ROBOTICS_ETF_ARKQ_HOLDINGS.csv'
        elif self.name == 'ARKX':
            url = 'https://ark-funds.com/wp-content/fundsiteliterature/csv/ARK_SPACE_EXPLORATION_&_INNOVATION_ETF_ARKX_HOLDINGS.csv'
        elif self.name == 'ARKG':
            url = 'https://ark-funds.com/wp-content/fundsiteliterature/csv/ARK_GENOMIC_REVOLUTION_MULTISECTOR_ETF_ARKG_HOLDINGS.csv'
        response = requests.get(url, headers=header)
        file_object = io.StringIO(response.content.decode('utf-8'))
        df = pd.read_csv(file_object)
        return df

# Step2: Extract the tickers to a list
    def get_tickerlist(self):
        df = self.Get_ARK_CSV()  # call setp1
        # print(df['ticker'].to_list())
        return df['ticker'].to_list()

In [71]:
class loadArkxEtf:
    tkers =[]
    def __init__(self, name):
        self.name = name
    def createEtfxSchema(self):
        try:
            engine = sqlalchemy.create_engine('mysql://root:12344321@localhost:3306')
            engine.execute(sqlalchemy.schema.CreateSchema(self.name))
        except Exception as e:
            pass
            
    def loadEtfTables(self):
        goodTkers = [x for x in self.tkers if x == x] #drop all nan
        for symbol in goodTkers:
            space_pos = symbol.find(' ')
            if space_pos != -1: # drop char after space in some case
                symbol = symbol[:space_pos]
            print(symbol)
            try:
                df = yf.download(symbol, start='2020-01-01')
                if len(df)>0:
                    df = df.reset_index()
                    try:
                        engine =\
                        sqlalchemy.create_engine('mysql://root:12344321@localhost:3306/' \
                        +self.name)
                        df.to_sql(symbol, engine, if_exists='replace')
                    except Exception as e:
                        print(e)
            except Exception as e:
                pass
    def procEtfx(self):
        arkxHoldings = ArkxEtfHoldings(self.name)
        self.tkers = arkxHoldings.get_tickerlist()
        self.createEtfxSchema() # create schema if not exists
        self.loadEtfTables() #load tables

In [72]:
# arkxEtfLst=['ARKK','ARKF','ARKW','ARKQ','ARKX','ARKG']
arkxEtfLst=['ARKK']
for etf in arkxEtfLst:
    arkx= loadArkxEtf(etf)
    arkx.procEtfx()

TSLA
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'TSLA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

ROKU
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'ROKU' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

TDOC
[*********************100%***********************]  1 of 1 completed
SQ
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'TDOC' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'SQ' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

SHOP
[*********************100%***********************]  1 of 1 completed
ZM
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'SHOP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

COIN
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'ZM' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'COIN' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

TWLO
[*********************100%***********************]  1 of 1 completed
U
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'TWLO' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'U' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

SPOT
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'SPOT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Z
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'Z' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

EXAS
[*********************100%***********************]  1 of 1 completed
DOCU
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'EXAS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'DOCU' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

CRSP
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'CRSP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

NTLA
[*********************100%***********************]  1 of 1 completed
TWTR
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'NTLA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

PATH
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'TWTR' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'PATH' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

PLTR
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'PLTR' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

DKNG
[*********************100%***********************]  1 of 1 completed
TXG
[*********************100%***********************]  1 of 1 completed

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'DKNG' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'TXG' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

BEAM
[*********************100%***********************]  1 of 1 completed

### Create schema

In [ ]:
# arkxEtfLst=['ARKF']
# for etf in arkxEtfLst:
#     arkx= loadArkxEtf(etf)
#     arkx.procEtfx()

### Get symbols

In [ ]:
# arkk = ArkxEtf('ARKK')
# arkkTks = arkk.get_tickerlist()
# arkkTks = [x for x in arkkTks if x == x] #drop all nan
# print(arkkTks)

### Create tables